@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-lime-cream-50: #f7fbe9;
  --color-lime-cream-100: #f0f8d3;
  --color-lime-cream-200: #e1f1a7;
  --color-lime-cream-300: #d2ea7b;
  --color-lime-cream-400: #c3e250;
  --color-lime-cream-500: #b4db24;
  --color-lime-cream-600: #90af1d;
  --color-lime-cream-700: #6c8415;
  --color-lime-cream-800: #48580e;
  --color-lime-cream-900: #242c07;
  --color-lime-cream-950: #191f05;
  --color-light-green-50: #eef9ec;
  --color-light-green-100: #ddf2d9;
  --color-light-green-200: #bbe6b3;
  --color-light-green-300: #99d98c;
  --color-light-green-400: #77cc66;
  --color-light-green-500: #55bf40;
  --color-light-green-600: #449933;
  --color-light-green-700: #337326;
  --color-light-green-800: #224d19;
  --color-light-green-900: #11260d;
  --color-light-green-950: #0c1b09;
  --color-emerald-50: #edf8f1;
  --color-emerald-100: #dbf0e2;
  --color-emerald-200: #b6e2c5;
  --color-emerald-300: #92d3a9;
  --color-emerald-400: #6dc58c;
  --color-emerald-500: #49b66f;
  --color-emerald-600: #3a9259;
  --color-emerald-700: #2c6d43;
  --color-emerald-800: #1d492c;
  --color-emerald-900: #0f2416;
  --color-emerald-950: #0a1a10;
  --color-ocean-mist-50: #edf7f5;
  --color-ocean-mist-100: #dbf0ea;
  --color-ocean-mist-200: #b7e1d5;
  --color-ocean-mist-300: #93d2c0;
  --color-ocean-mist-400: #6fc3ab;
  --color-ocean-mist-500: #4bb496;
  --color-ocean-mist-600: #3c9078;
  --color-ocean-mist-700: #2d6c5a;
  --color-ocean-mist-800: #1e483c;
  --color-ocean-mist-900: #0f241e;
  --color-ocean-mist-950: #0b1915;
  --color-tropical-teal-50: #ecf8f9;
  --color-tropical-teal-100: #d8f2f3;
  --color-tropical-teal-200: #b1e5e7;
  --color-tropical-teal-300: #8bd8da;
  --color-tropical-teal-400: #64cbce;
  --color-tropical-teal-500: #3dbdc2;
  --color-tropical-teal-600: #31989b;
  --color-tropical-teal-700: #257274;
  --color-tropical-teal-800: #184c4e;
  --color-tropical-teal-900: #0c2627;
  --color-tropical-teal-950: #091b1b;
  --color-cerulean-50: #e9f6fb;
  --color-cerulean-500: #24a1db;
  --color-yale-blue-900: #091c2a;
  --color-yale-blue-950: #06131e;
  --erp-sidebar-dark: #06131e;
  --erp-sidebar-dark-soft: #091c2a;
  --erp-lime: #b4db24;
  --erp-lime-soft: #f0f8d3;
  --erp-lime-pale: #f7fbe9;
  --erp-emerald: #49b66f;
  --erp-emerald-dark: #2c6d43;
  --erp-emerald-soft: #edf8f1;
  --erp-ocean: #4bb496;
  --erp-teal: #3dbdc2;
  --erp-ocean-soft: #edf7f5;
  --erp-blue: #24a1db;
  --erp-blue-soft: #e9f6fb;
  --erp-active-tab: #f43f5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
